html{
  font-size:62.5%
  font-family:
}
#title{
  text-align:center;
  font-size:5em;
  font-family:'oswald',sans-serif;
}

#image{
display:block;
margin:auto;
width:25em;
border-radius: 8%;
margin-bottom: 1em;
height:auto;
}
#img-caption{
  text-align:center; 
}
#tribute-info{
  font-family:'Merriweather', serif;
  font-size:1.2em;
  line-height:1.5em;
}
#tribute-link:hover{
  background-color: gray; 
}
h3,h2{
  font-family: 'oswald',sans-serif;
}

.links:hover{
  background-color: gray;
}
footer{
  text-align: center;
  font-size:70%
}



@media screen and (max-width:480px) and (max-height:720px){
  #image{
    max-width:100%;
    display: block;
    height: auto;

}
#title{
  font-size: 2em;
}
#img-caption{
  font-size:0.7em;
}
#tribute-info{
  font-size:0.8em;
}
}
